.welcomeTitle{
  justify-content: center;
  align-items: center;
  font-size: 25px;
  /* border: 1px solid black; */
  /* box-shadow: 4px 4px 2px black; */
  padding: 5px 10px;
}

.quizContainer{
  width: 45vw;
  padding:15px;
    margin: auto;
    margin-top: 35px;
   display: flex;
   flex-direction: column;
    max-width: 700px;
   border-radius: 33px;
    background: #ffffff;
    box-shadow:  -18px -18px 35px #acacac,
                18px 18px 35px #ffffff;
}